<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>Oleholehku</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css" />
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div class="header-container d-flex align-items-center justify-content-between">
                <div class="logo">
                    <h1 class="text-light"><a href="index.html"><span>Oleholehku</span></a></h1>
                </div>

                <nav id="navbar" class="navbar">
                    <ul>
                        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                        <li><a class="nav-link scrollto" href="#team">Team</a></li>
                        <li><a class="nav-link scrollto" href="explore.html">Explore</a></li>
                        <li><a class="nav-link" href="signin.html">Sign In</a></li>
                        <li><a class="getstarted" href="signup.html">Sign Up</a></li>
                    </ul>
                </nav><!-- .navbar -->
            </div><!-- End Header Container -->
            <a><i class="fa-solid fa-bars mobile-nav-toggle button"></i></a>
        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container text-center position-relative">
            <h1>Explore The Uniqueness Of Indonesia</h1>
            <h2>Let's Bring Some Memorable Goodies Back Home</h2>
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
    </section><!-- End Hero -->

    <main>
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">
                <div class="row content">
                    <div class="col-lg-6">
                        <div class="section-title">
                            <h2>About Oleholehku</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            Belanja oleh-oleh tentu sudah menjadi kewajiban bagi seorang wisatawan ketika sedang mengunjungi sebuah destinasi wisata. 
                            Oleholehku hadir sebagai website yang membantu wisatawan memperoleh informasi mengenai oleh-oleh yang ada di suatu daerah. 
                            Website Oleholehku mempunyai fitur utama sebagai berikut :
                        </p>
                        <ul>
                            <li><i class="fas fa-check-square"></i> Mencari informasi oleh-oleh menurut daerahnya.</li>
                            <li><i class="fas fa-check-square"></i> Memberikan rekomendasi oleh-oleh.</li>
                            <li><i class="fas fa-check-square"></i> Memberikan vote untuk rekomendasi terbaik di suatu daerah.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- ======= Team Section ======= -->
        <section id="team" class="team">
            <div class="container">
                <div class="row">
                    <div class="section-title">
                        <h2>Team</h2>
                        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="member" >
                            <div class="pic"><img id="royan" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Royan</h4>
                                <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p>
                                <div class="social">
                                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-6 mt-4 mt-lg-0">
                        <div class="member">
                            <div class="pic"><img id="fannisa" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Fannisa</h4>
                                <p>Aut maiores voluptates amet et quis praesentium qui senda para</p>
                                <div class="social">
                                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-6 mt-4">
                        <div class="member">
                            <div class="pic"><img id="person" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Yoga</h4>
                                <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p>
                                <div class="social">
                                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-6 mt-4">
                        <div class="member">
                            <div class="pic"><img id="person" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Nadia</h4>
                                <p>Dolorum tempora officiis odit laborum officiis et et accusamus</p>
                                <div class="social">
                                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                                    <a href=""><i class="fa-brands fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
                
            </div>
        </section><!-- End Team Section -->
    </main>

           <!-- ======= Footer ======= -->
    <footer id="footer">

        <div class="footer-top">
        <div class="container">
            <div class="row">

            <div class="col-lg-3 col-md-6 footer-contact">
                <h3><strong>Oleholehku</strong></h3>
                <p>Jl. Batik Kumeli No.50 <br>
                    Sukaluyu, Kec. Cibeunying Kaler<br>
                    Kota Bandung, Jawa Barat 40123 <br><br></p>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                <li><i class="fas fa-check-square"></i> <a href="#">Home</a></li>
                <li><i class="fas fa-check-square"></i> <a href="#">Team</a></li>
                <li><i class="fas fa-check-square"></i> <a href="#">Explore</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Social Media</h4>
                <ul>
                <li><i class="fa-brands fa-twitter"></i> <a href="https://twitter.com/dicoding">Twitter</a></li>
                <li><i class="fa-brands fa-instagram"></i> <a href="https://www.instagram.com/dicoding">Instagram</a></li>
                <li><i class="fa-brands fa-facebook"></i> <a href="https://www.facebook.com/dicoding/">Facebook</a></li>
                <li><i class="fa-brands fa-linkedin"></i> <a href="https://www.linkedin.com/company/dicoding/">Linkedin</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-6 footer-newsletter">
                <h4>Contact Us</h4>
                <p>
                    <strong>Phone:</strong> <br> 08989673449 <br>
                    <strong>Email:</strong> oleholehku@gmail.com<br>
                </p>
            </div>

            <div class="container d-md-flex py-4">

                <div class="me-md-auto text-center text-md-start">
                <div class="copyright">
                    &copy; Copyright <strong><span>Oleholehku</span></strong>. All Rights Reserved
                </div>
            </div>
        </div>
        </div>
    </footer>

    <script src="https://kit.fontawesome.com/d0e0ed9797.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
