@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body ,html {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    background-color: white;
    height: 100%;
    font-weight: 700;
}

.title {
    color: #ffcd38 ;
    text-align: center;
}

.container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

input[type="text"],
input[type="password"] {
    border-radius: 10px;
    border: 2px solid rgb(224, 224, 224);
}

.btn-login {
    color: white;
}

.title-login {
    text-align: center;
}

a {
    color: #ffcd38 ;
}

a:hover {
    color: #ffcd38 ;
}